{% extends "base.html" %}
{% block title %}
about
{% endblock %}
{% load static %}
{% block content %}
<div class="desp">
 <h1 class="displya-3 text-dark  animated slideInLeft">About Us</h1>
 <p>Home/About/pages</p>
 <img class="rounded-circle" src="{% static 'images/img10.png' %}">
  <br><br><br><br>
</div>     
<div class="container-xxl py-5  mb-5">
  <div class="container my-5 py-5">
      
      <div class="container-xxl py-5">
        <div class="container">
          <div class="col-6 text-start">
            <img src="{% static 'images/img1.jpg' %}" alt="" data-wow-delay="0.1s" class="img-fluid rounded w-100 wow zoomIn">
          </div>
          <div class="col-6 text-start">
            <img src="{% static 'images/img2.jpg' %}" alt="" data-wow-delay="0.3s" class="img-fluid rounded w-100 wow zoomIn" style="margin-top:60%;">
          </div>
          <!-- <div class="col-6 text-start">
            <img src="{% static 'images/img3.jpg' %}" alt="" data-wow-delay="0.5s" class="img-fluid rounded w-100 wow zoomIn"  style="margin-right:20%;">
          </div>
          <div class="col-6 text-start">
            <img src="{% static 'images/img4.jpg' %}" alt="" data-wow-delay="0.7s" class="img-fluid rounded w-100 wow zoomIn">
          </div>  -->
        
        </div>
      </div> 
    
    <div class="col-lg-6">
      <h5 class="section-title ff-secondary text-start text-primery fw-normal">___About Us___</h5>
      <h1 class="mb-4">Welcome to <i class="fa- fa-utensils text-primery me-2"></i>Bistro</h1>
      <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius tempora ipsam itaque odit asperiores similique omnis commodi. Rerum labore perspiciatis voluptate perferendis eligendi, repellendus voluptates quis ipsa, aspernatur, minus ipsam.</p>
      <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, quod. Fugiat, nulla quisquam? Maxime harum culpa officiis iusto numquam ullam suscipit fugit architecto corrupti in? Exercitationem eum molestias architecto suscipit.</p>
      
      <div class="row g-4 mb-4">
        <div class="col-sm-6">
          <div class="d=flex align-items-center border-start  border-5 border-primery px-3">
            <h1 class="flex-shirnk-0 displya-5 text-warning mb-0" data-toggle="counter-up">15</h1>
            <div class="ps-4">
              <p class="mb-0">yours of</p>
              <h6>EXPERIENCE</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


