{% extends "base.html" %}
{% block title %}
bistromenu
{% endblock %}
{% load static %}
{% block content %}

<div class="desp">
  <h1 class="displya-3 text-dark  animated slideInLeft">Bistro Menu</h1>
  <p>Home/menu/pages</p>
  <img class="rounded-circle"  src="{% static 'images/img10.png' %}">
  <br><br><br><br>
</div>

<h1 class="about">___BistroMenus__</h1><br><br>

    <div class="container d-flex align-items-center">
       <img src="{% static 'menu/download.jfif' %}" alt="..." class="rounded-circle">
          <h4>Breakfast</h4>
          <br><br>
          <br><br>
      <ol class="d=flex align-items-center border-start  border-5 border-dark px-3">
          <ul>Berries_____________$12</ul>
          <lu>Cold Cereal_________$13</ul>
          <ul>Cottage Cheese______$12</ul>
          <ul>Eggs________________$8</ul>
          <ul>Green Tea___________$14</ul>
          <ul>Oatmeal_____________$12</ul>
          <ul>Peanut Butter_______$11</ul>
      </ol>
    </div>

    <div class="container d-flex align-items-center">
         <img src="{% static 'menu/img1.jfif' %}" alt="..." class="rounded-circle" width="150px">
           <h4>RiceBowl</h4>
      <ol class="displya-3 align-items-center border-start  border-5 border-dark px-3">
         <ul>Butter Chiken Rice__$11</ul>
         <ul>Chicken Biriyani____$11</ul>
         <ul>Briesd Beef Rice____$11</ul>
         <ul>Rice Bowl___________$11</ul>
         <ul>Veg Biriyani________$11</ul>
         <ul>Plain Rice__________$11</ul>
     </ol>

    </div>

<div class="container d-flex align-items-center">
    <img src="{% static 'menu/img2.jfif' %}" alt="..." class="rounded-circle" width="150px">
  <h4>Salad</h4>
    <ol class="d=flex align-items-center border-start  border-5 border-dark px-3">
         <ul>Antipasto Salad_____$12</ul>
         <ul>BBQ Pork Salad______$11</ul>
         <ul>Broccoil Rabe_______$11</ul>
         <ul>Caesar Salad________$11</ul>
         <ul>Chiken Salad________$11</ul>
         <ul>Crispy Salad________$11</ul>
         <ul>Ponir Mix Salad_____$11</ul>
    </ol>
    
</div>


<div class="container d-flex align-items-center">
    <img src="{% static 'menu/img3.jfif' %}" alt="..." class="rounded-circle" width="150px">
      <h4>Chiken</h4>
        <ol class="d=flex align-items-center border-start  border-5 border-dark px-3">
          <ul>Finger Chiken_______$11</ul>
          <ul>Chiken Grilled______$11</lu>
          <ul>Chiken Wrap_________$11</ul>
          <ul>Chiken Grilled<br>
              With Butter_________$11</ul>
          <ul>Chiken Marsala______$11</ul>
          <ul>Cheiken Francese____$11</ul>
          <ul>Chiken Prame________$11</ul>            
        </ol>
    
</div>


<div class="container d-flex align-items-center">
    <img src="{% static 'menu/img4.jfif' %}" alt="..." class="rounded-circle" width="150px">
      <h4>Crezy Beef</h4>
         <ol class="d=flex align-items-center border-start  border-5 border-dark px-3">
            <ul>BBQ Beef____________$11</ul>
            <ul>Beef Fries__________$11</ul>
            <ul>Beef Burger_________$11</ul>            
            <ul>Beef Griled_________$11</ul>
            <ul>Beef Meal___________$11</ul>
            <ul>Beef Meal Steak_____$11</ul>
            <ul>Beef Bogorol________$11</ul>
            
          </ol>
    
</div>


<div class="container d-flex align-items-center">
    <img src="{% static 'menu/img7.jfif' %}" alt="..." class="rounded-circle" width="150px">
      <h4>Burger</h4>
        <ol class="displya-3 align-items-center border-start  border-5 border-dark px-3">
            <ul>Luger Burger________$11</ul>
            <ul>Le Pigeon Burger____$11</ul>
            <ul>Double Animal Style_$11</ul>
            <ul>The Original Burger_$11</ul>
            <ul>Whiskey King Burger_$11</ul>
            <ul>The Company Burger__$11</ul>
            <ul>Dyer's Deep-Frid____$11</ul>
            <ul>Burger______________$11</ul>
            <ul>The Lola Burger_____$11</ul>
        </ol>
    
</div>


<div class="container d-flex align-items-center">
    <img src="{% static 'menu/img6.jfif' %}" alt="..." class="rounded-circle" width="150px">
      <h4>Cake</h4>
        <ol class="d=flex align-items-center border-start  border-5 border-dark px-3">
          <ul>Black Forest Gateau_$11</ul>
          <ul>Pineapple Cake______$11</ul>
          <ul>Eggless Truffl<br>
              Cake________________$11</ul>
          <ul>Coffee Cake With<br>
              Mocha Frosting______$11</ul>
          <ul>Fudgy Chocolate<br>
              Cake_____$11</ul>
          <ul>Mango Meringue Cake_$11</ul>
        </ol>
    
</div>


<div class="container d-flex align-items-center">
    <img src="{% static 'menu/img5.jfif' %}" alt="..." class="rounded-circle" width="150px">
      <h4>Juice</h4>
        <ol class="d=flex align-items-center border-start  border-5 border-dark px-3">
          <ul>Orange Juice________$11</ul>
          <ul>Lemonade____________$11</ul>
          <ul>Apple Juice_________$11</ul>
          <ul>Grape Juice_________$11</ul>
          <ul>Pineapple Juice_____$11</ul>
          <ul>Cranberry Juicce____$11</ul>
          
        </ol>
    
</div>




{%endblock%}