{% extends "base.html" %}
{% block title %}
clients
{% endblock %}
{% load static %}
{% block content %}

<div class="desp">
    <h1 class="displya-3 text-dark  animated slideInLeft">Clients</h1>
    <p>Home/Clients/pages</p>
    <img class="rounded-circle"  src="{% static 'images/img10.png' %}">
    
    <br><br><br><br>
   
   </div> 
   <h1>Clients</h1>
   <br>
   <br>
   <br>
<br>
<img src="{% static 'images/clnt1.jpg' %}">
<img src="{% static 'images/clnt2.png' %}">
<img src="{% static 'images/clnt3.jpg' %}">


{% endblock %}