{% extends "base.html" %}
{% block title %}
condition
{% endblock %}
{% load static %}
{% block content %}
<div class="background">

    <div class="desp">
    <img img width="90" class="rounded-circle"  src="{% static 'images/img10.png' %}">
    </div>
    
   
<div class="prgh">
<h1 class="about">___Term And Condition___</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
   Voluptate explicabo in eaque, dolor eius nisi quo voluptatem libero cumque harum quidem.<br>
   Accusamus iste, distinctio dignissimos harum eaque sint dolorem eum!</p>

   <h5 class="about">Start :Dd/Mm/Yy</h5>
   <h5 class="about">Exp Card :Dd/Mm/Yy</h5>
   <br><br>
   <p>www.bistro.com</p>
</div>
</div>
{% endblock %}