{% extends "base.html" %}
{% block title %}
service
{% endblock title %}

{% load static %}
{% block content %}

<div class="desp">
    <h1 class="displya-3 text-dark  animated slideInLeft">Services</h1>
    <p>Home/Service/pages</p>
    <img class="rounded-circle"  src="{% static 'images/img10.png' %}">
  <br><br><br><br>
   </div> 

<h4>Food Catering</h4>

<a href="#"><img src="{% static 'images/img4.jpg' %}"></a>

<p>Food catering is always an essential ingredient for any party,corporate event,<br>
    wedding event,family reunions of baby showers.<br>
    When your guests attent your event,they will expect to be served with delicious and good food.
</p>

<h4>Bulk Ordering</h4>

<img src="{% static 'images/img6.png' %}">
<p>Food order is always an essential ingredient for any party,corporate event,<br>
    wedding event,family reunions of baby showers.<br>
    When your guests attent your event,they will expect to be served with delicious and good food.
</p>

<h4>Food Ordering</h4>
<img src="{% static 'images/img5.jpg' %}">

<p>Food order is always an essential ingredient for any party,corporate event,<br>
    wedding event,family reunions of baby showers.<br>
    When your guests attent your event,they will expect to be served with delicious and good food.
</p>

{% endblock %}